<!-- Sidebar -->
<div class="col-md-3 col-lg-2 sidebar p-0">
    <div class="d-flex flex-column">
        <div class="p-3 text-white">
            <h5>Jn Locações De Andaimes E Equipamentos</h5>
        </div>
        <nav class="nav flex-column">
            <a href="{% url 'home' %}" class="nav-link" href="home.html">
                <i class="fas fa-home me-2"></i> Home
            </a>
            <a href="{% url 'equipment_registration' %}" class="nav-link" href="cadastro-equipamentos.html">
                <i class="fas fa-plus-circle me-2"></i> Cadastro de Clientes
            </a>
            <a href="{% url 'reports' %}" class="nav-link" href="relatorios.html">
                <i class="fas fa-chart-bar me-2"></i> Relatórios
            </a>
            <a href="{% url 'login' %}" class="nav-link" href="index.html">
                <i class="fas fa-sign-out-alt me-2"></i> Sair
            </a>
        </nav>
    </div>
</div>